$green: #00A39B;//#43A2A7;
$pink: #EB899B;
$palidPink: #E5BEB8;
$grey: #57565E;//#505A6A;

.custom-file-input:lang(es)~.custom-file-label:after{
  content:"Examinar" !important;
}

.resaltado-pink {
  background-color: $pink;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 20px;

  h2, a {
    color: $grey;
    font-weight: bolder;
  }
  h5, a {
    color: $grey;
    font-weight: bolder;
  }
}

.footer-bottom {
  margin-top: 8px;
  margin-bottom: 30px;
}

.social-icons {
  a {
    color: $grey;
    font-weight: bolder;
    font-size: 20px;
  }
}

.navbar-light .navbar-nav .nav-link {
  font-size: 20px !important;
  padding-right: 30px;
}

.custom-hr {
  border-width: 5px;
  border-color: $grey;
}

.productos-fondo-color {
  background-color: $green;
  min-height: 180px;
  margin-top: 20px;
  h1 {
    padding-top: 15%;
  }
  a {
    text-decoration: none;
  }
}

.productos-fondo-imagen {
  background-image: url("/img/fondoProducto.png");
  min-height: 180px;
  margin-top: 20px;
  a {
    text-decoration: none;
  }
}

.productos-color-texto {
  background-color: $palidPink;
  color: $green;
  padding-left: 15px;
  padding-right: 15px;
  h1 {
    padding-top: 1px;
  }
}

.productos-imagen-texto {
  background-color: $grey;
  color: $palidPink;
  padding-left: 15px;
  padding-right: 15px;
  
  h1 {
    padding-top: 1px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .productos-color-texto {
    h1 {
      font-size: 1.95rem !important;
    }
  }
  .productos-imagen-texto {
    h1 {
      font-size: 1.95rem !important;
    }
  }
}
@media only screen and (min-width: 426px) and (max-width: 767px) {
}
@media only screen and (max-width: 425px) {
}



.texto-slider {
  background-color: $pink;
  color: $grey;
  margin-top: 32%;
  text-transform: uppercase;
}

.tienda-fondo-color {
  background-color: $green;
  height: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  h1 {
    background-color: $palidPink;
    color: $green;
  }
  @media only screen and (min-width: 768px) {
    .category-all {
      margin-top: 40%;
    }
  }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .category-all {
      margin-top: 27%;
    }
  }
  @media only screen and (max-width: 480px) {
    .category-all {
      margin-top: 36%;
    }
  }
}

.quienes-fondo-imagen {
  /*background-color: $green;*/
  min-height: 255px;
  background-image: url("/img/fondoProducto.png");
  background-size: cover;
  //max-height: 20px;
}

.trabaja-imagen-texto {
  background-color: $grey;
  color: $palidPink;
  //margin-top: 30%;
  h1 {
    padding-top: 1px;
  }
}

.contacto-imagen-texto {
  background-color: $grey;
  color: $palidPink;
  margin-top: 40%;
  h1 {
    padding-top: 1px;
  }
}

.nav-item {
  a.tab-link {
    color: $green !important;
  }
  a.tab-link.active {
    color: $grey !important;
  }
}

.card.card-pink > .card-header {
    background-color: $pink;
    border-color: $pink;
    .title {
      color: white;
    }
}

.card.card-pink {
  a:hover {
    color: $pink;
  }

}

@media only screen and (min-width: 768px) {
  .welcome-slider {
    width: 80% !important;
    margin: auto;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .welcome-slider {
    width: 90% !important;
    margin: auto;
  }
}
@media only screen and (max-width: 480px) {
  .welcome-slider {
    width: 100% !important;
  }
}
